@font-face {
    font-family: outfit;
    src: url(assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
}
@font-face {
    font-family: young-serif;
    src: url(assets/fonts/young-serif/YoungSerif-Regular.ttf);
}

:root{
    --White: hsl(0, 0%, 100%);

    --Stone-100: hsl(30, 54%, 90%);
    --Stone-150: hsl(30, 18%, 87%);
    --Stone-600: hsl(30, 10%, 34%);
    --Stone-900: hsl(24, 5%, 18%);

    --Brown-800: hsl(14, 45%, 36%);

    --Rose-800: hsl(332, 51%, 32%);
    --Rose-50: hsl(330, 100%, 98%);
}
/* #######===============================================================####### */

.wrapper{
    width: 1280px;
    max-width: 1440px;
    min-width: 375px;
    margin: 0 auto;
}

/* TEXT STYLES */
p {
    font-family: outfit;
    font-size: 16px;
}

h1{
    font-family: young-serif;
    font-weight: 400;
}

h2{
    color: var(--Rose-800);
}

h3{
    color: var(--Rose-50);
}